fastapi==0.128.0
uvicorn==0.40.0
python-multipart==0.0.21
httpx==0.28.1

pydantic==2.12.5
pydantic-settings==2.12.0

google_generativeai==0.3.2
langchain==0.0.352
langchain-google-genai==0.0.5
langchain-core==0.1.23

SpeechRecognition==3.8.1
gTTS==2.5.0

langdetect==1.0.9
deep-translator==1.11.4

opentelemetry_api==1.39.1
opentelemetry_sdk==1.39.1
opentelemetry_exporter_otlp==1.39.1
opentelemetry_instrumentation-fastapi==0.60b1
opentelemetry_instrumentation-httpx==0.60b1

langsmith==0.0.87

redis[hiredis]

python-dotenv=1.0.0

pytest==9.0.2
pytest_asyncio==1.3.0
pytest_cov==7.0.0

black==25.12.0